<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>
<!-- This is the solution for the templating side of TA02-->
<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
    <div>
        <form action="/prove2/addBook" method="POST">
            <label for="newTitle">Title</label><br>
            <input type="text" name="newTitle"><br>
            <label for="newSummary">Summary</label><br>
            <input type="text" name="newSummary">
            <button type="submit">Add Book</button>
        </form>
    </div>
    <div>
        <!-- Looped List for requirement 01-->
        <h2>Books:</h2>
        <% for(book of books) { %>
          <p><%= book %></p>
        <% } %>
        <!-- Looped List for requirement 01-->
    </div>
</div>
</body>
</html>