<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>
<!-- This is the solution for the templating side of TA02-->
<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
    <div>
        <form action="/prove2/book" method="post">
            <label for="newTitle">Title</label><br>
            <input type="text" name="newTitle"><br>
            <label for="newSummary">Summary</label><br>
            <input type="text" name="newSummary">
            <button type="submit">Add Book</button>
        </form>
    </div>
</div>
<div class="container">
  <div>
      <!-- Looped List for requirement 01-->
      <h2>Title:</h2>
      <% for(ti of titles) { %>
        <h3><%= ti %></h3>
      <% } %>
      <h2>Summary:</h2>
      <% for(summary of summaries) { %>
        <h3><%= summary %></h3>
      <% } %>
      <!-- Looped List for requirement 01-->
  </div>
</div>
</body>
</html>